@charset "UTF-8";
/* Custom CSS declarations below  */



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E9967A !important;
}

a {
    color: #E9967A;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #A9A9A9;
    text-decoration: underline;
}

h1 {
  font: bold 3.0em Roboto, sans-serif;
  height: 65px;
  color: #E9967A;
  padding-left: 10px;
}

h2 {
  font: bold 3.0em Roboto, sans-serif;
  height: 65px;
  color: white;
  background-color: #E9967A;
  padding-left: 10px;
}

h3 { font: bold 1.5em Roboto, sans-serif;
    color: #E9967A;
}

h4 {
  font: bold 2.0em Roboto, sans-serif;
  height: 45px;
  color: #E9967A;
  padding-left: 10px;
  margin: auto;
}

h5 {
  font: bold 2.0em Roboto, sans-serif;
  height: 45px;
  color: #E9967A;
  padding-left: 10px;
  margin-top: 15px;
}

p {
    font: 1.0em Roboto, sans-serif;
    color: #A9A9A9;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 10% 0;
}


div.b {
	color: #E9967A;
	font-size: 400%;
	font-weight: bold;
}

div.c {
	color: #000000;
}

div.carousel-inner {
    align-items: center;
}

div.contact {
    font: 3.0em Roboto, sans-serif;
}

div.lead {
    font: bold 3.0em Roboto, sans-serif;
    color: black;
}

h1.display-4 {
    font: bold 1.0em Roboto, sans-serif;
}

p.lead {
    color: black;
    padding-left: 10px;
}

/* Three image containers */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.modalpic {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.pics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.about1 {
    margin-bottom: 25px;
}
.headerimage {
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.exec {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}


/* Font Awesome Icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: right;
  text-decoration: none;
  margin: 5px 2px;
}

/* FA Hover */
.fa:hover {
  opacity: 0.7;

}

/* Facebook */
.fa-facebook {
  background: none;
  color: #E9967A;
}

/* Instagram */
.fa-instagram {
  background: none;
  color: #E9967A;
}

/* Events Page Carousel */
.carousel {
    width:640px;
  height:425px;
  margin: auto;
}

/* Home Page Image Gallery Modal */
.carousel-modal {
    width: 100%;
    margin: auto;
}

/* Buttons on Merchandise Page */
.btn {
    background-color: #E9967A;
    border: none;
    text-decoration: none;
    margin-bottom: 5px;
}

/* Buttons Hover on Merchandise Page */
.btn:hover {
    background-color: #E9967A;
    text-decoration: underline;
}

.biglittle1 {
    margin-right: 20px;
}

.biglittle2 {
    margin-left: 20px;
}

.dropdown-menu, .dropdown-item {
    color: #E9967A;
    text-decoration: none;
    background-color: white;
}

.dropdown-menu, .dropdown-item:hover {
    color: #A9A9A9;
    background-color: white;
} 

